<mat-toolbar color="primary" class="mat-elevation-z6">
    <span><mat-icon>flight</mat-icon> Take-Off</span>
    <div class="spacer"></div>
    <a mat-button routerLink="showUsers" class="btn btn-primary" role="button" routerLinkActive="active" id="hover">Show User</a>
    <a mat-button routerLink="addFlight" class="btn btn-primary" role="button" routerLinkActive="active">Add Flight</a>
    <a mat-button routerLink="deleteFlight" class="btn btn-primary" role="button" routerLinkActive="active">Delete Flight</a>
    <a mat-button routerLink="searchFlight" class="btn btn-primary" role="button" routerLinkActive="active">Search Flight</a>
    <a mat-button routerLink="showFlights" class="btn btn-primary" role="button" routerLinkActive="active">Show Flights</a>
    <a mat-raised-button routerLink=""  color="accent">Home</a>
  </mat-toolbar> 