<app-home-dashboard></app-home-dashboard>

<body>
	<div class="container">
	<h1>Connect with Us </h1>
	<p>Hi Guys, We would love to respond to your queries and help you take a safe flight always.
	<br> Feel free to get in touch with us.</p>
	</div>
	<div class="contact-box">
	<div class="contact-left">
		<h3>Sent your Request</h3>
		<form>
		<div class="input-row">
			<div class="input-group">
			<label>Name </label>
			<input type="text" placeholder="Yash">
			</div>
			<div class="input-group">
			<label>Phone </label>
			<input type="text" placeholder="+91 7235262243">
			</div>
		</div>
		<div class="input-row">
			<div class="input-group">
			<label>Email </label>
			<input type="email" placeholder="yash@gmail.com">
			</div> 
			<div class="input-group">
			<label>Subject </label>
			<input type="email" placeholder="Write your views">
			</div> 
		</div>
			<label>Message </label>
			<textarea rows="5" placeholder="Your Message"></textarea>
			<button type="submit">Send</button>
		</form>
	</div>
	<div class="contact-right">
		<h3>Reach Us</h3>
		<table>
			<tr>
				<td>Email</td>
				<td>contactAir@gmail.com</td>
			</tr>
			<tr>
				<td>Phone</td>
				<td>+91 1800-123-564</td>
			</tr>
			<tr>
				<td>Address</td>
				<td>#231, Empire States, 5th RSVPM Road <br>
				Near Calington Estates, Coorg<br>
				Chennai 600002
				</td>
			</tr>
		</table>
	</div>
	</div>
	
    <footer style="color: white;" class = "foot">
       <h2>&copy; A.A.N.P.Y</h2>
    </footer>

