<mat-toolbar color="primary" class="mat-elevation-z6">
    <span><mat-icon>flight</mat-icon> AIRLINE </span>
    <div class="spacer"></div>
    <a mat-button class="btn btn-primary"   (click) = goHome()>Home</a>
    <a mat-button class="btn btn-primary" (click) = aboutUs()  >About Us</a>
    <a mat-button class="btn btn-primary" (click) = contactUs()  >Contact Us</a>
    <a mat-button class="btn btn-primary"  (click) = goLogin()>Login</a>
    <a mat-raised-button class="btn btn-primary" color="accent"  (click) = register()>Sign Up</a>
</mat-toolbar>


<router-outlet></router-outlet>

