<app-user-nav></app-user-nav>
<img src="https://www.yatra.com/ythomepagecms/media/double_banner/2021/Aug/8a0c2dd36166806b384c4ef0f9109406.jpg"
    height="200px" width="100%" />
<body>
    

<section class="p-5 text-center">
    <div class="container">
        <h1 class="jumbotron-heading ">Take Off----Fly with the best Airlines</h1>
        <p class="lead text-muted ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure laudantium, voluptates
            dolorem rerum expedita excepturi necessitatibus quia praesentium dolorum mollitia. Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Quibusdam exercitationem repudiandae magnam impedit maxime odit harum
            reprehenderit natus quam! Fugiat quibusdam mollitia veritatis laborum dolor! Labore minus earum quos
            similique!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos et nesciunt odio ipsum
            aperiam. Veniam dolorum officiis iusto ullam eaque et eos earum velit! Totam in magnam ratione fuga
            praesentium.</p>
    </div>
</section>
<section class="myClass">
    <div class="album py-5 bg-light myClass">
        <div class="container myClass">
           <h1> Domestic & International Flight Discount</h1>
            <div class="row ">
                <div class="col-md-4 p-3">
                    <div class="image-holder"><em class="lobsLogoYtSpcl demo-icon icon-flights"
                        style="background-color: rgb(179, 208, 159);"></em>
                    <img
                        src="//www.yatra.com/ythomepagecms/media/todayspick_home/2021/Aug/e6134b5ec3066e9f4425a9c216919a06.jpg"
                        alt="Flat 15% OFF (up to Rs 2,000)" style="border: 1px solid rgb(179, 208, 159);">&nbsp;
                </div>
                </div>
                <div class="col-md-4 p-3">
                    <div class="image-holder"><em class="lobsLogoYtSpcl demo-icon icon-flights"
                        style="background-color: rgb(150, 191, 224);"></em>
                    <img src="//www.yatra.com/ythomepagecms/media/todayspick_home/2021/Aug/7a11da16e54b09b1f8eb800e340a632b.jpg"
                        alt="Flat 12% OFF (upto Rs. 10,000)" style="border: 1px solid rgb(150, 191, 224);">&nbsp;
                </div>

                </div>
                <div class="col-md-4 p-3">
    
                <div class="image-holder"><em class="lobsLogoYtSpcl demo-icon icon-flights"
                        style="background-color: rgb(218, 149, 153);"></em>
                    <img
                        src="//www.yatra.com/ythomepagecms/media/todayspick_home/2021/Jul/54fe3d93b47db7ed1dac650d834c74b7.png"
                        alt="Upto 15% OFF (max. Rs.2,000)" style="border: 1px solid rgb(218, 149, 153);">&nbsp;
                </div>
                </div>
                <div class="col-md-4 p-3">
                    <div class="image-holder"><em class="lobsLogoYtSpcl demo-icon icon-flights"
                        style="background-color: rgb(218, 149, 153);"></em>
                   <img
                        src="//www.yatra.com/ythomepagecms/media/todayspick_home/2021/Jul/678d308d02fd7b9a31b58335d32927fd.png"
                        alt="Upto 15% OFF (max. Rs. 15,000)" style="border: 1px solid rgb(218, 149, 153);">&nbsp;
                </div>
                </div>
                <div class="col-md-4 p-3">
                    <div class="image-holder"><em class="lobsLogoYtSpcl demo-icon icon-flights"
                        style="background-color: rgb(150, 191, 224);"></em>
                    <img
                        src="//www.yatra.com/ythomepagecms/media/todayspick_home/2021/Aug/dbe68c710c97bf0760f193b88660f13d.jpg"
                        alt="Flat Rs. 799 OFF per Pax (up to Rs 2,400)" style="border: 1px solid rgb(150, 191, 224);">&nbsp;
                </div>
                </div>
                <div class="col-md-4 p-3">
    
                <div class="image-holder"><em class="lobsLogoYtSpcl demo-icon icon-flights"
                        style="background-color: rgb(150, 191, 224);"></em>
                    <img src="//www.yatra.com/ythomepagecms/media/todayspick_home/2021/Aug/7a11da16e54b09b1f8eb800e340a632b.jpg"
                        alt="Flat 12% OFF (upto Rs. 10,000)" style="border: 1px solid rgb(150, 191, 224);">&nbsp;
                </div>
                </div>
              
            </div>
        </div>
    </div>
</section>
<div class="album py-5 bg-light myClass">
    <div class="container myClass">
        <h1>Cities Open for Travel</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]"
                        style="height: 225px; width: 100%; display: block;" src="../../../assets/1.jpg">
                    <div class="card-body">
                        <p class="card-text">Pune: Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit atque animi adipisci dignissimos delectus dolore sunt debitis reiciendis voluptatibus fuga.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]"
                        style="height: 225px; width: 100%; display: block;" src="../../../assets/2.jpg">
                    <div class="card-body">
                        <p class="card-text">Mumbai:Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit atque animi adipisci dignissimos delectus dolore sunt debitis reiciendis voluptatibus fuga.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]"
                        style="height: 225px; width: 100%; display: block;" src="../../../assets/3.jpg">
                    <div class="card-body">
                        <p class="card-text">Bangalore:Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit atque animi adipisci dignissimos delectus dolore sunt debitis reiciendis voluptatibus fuga.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]"
                        style="height: 225px; width: 100%; display: block;" src="../../../assets/4.jpg">
                    <div class="card-body">
                        <p class="card-text">Delhi:Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit atque animi adipisci dignissimos delectus dolore sunt debitis reiciendis voluptatibus fuga.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]"
                        style="height: 225px; width: 100%; display: block;" src="../../../assets/5.jpg">
                    <div class="card-body">
                        <p class="card-text">Chennai:Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit atque animi adipisci dignissimos delectus dolore sunt debitis reiciendis voluptatibus fuga.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]"
                        style="height: 225px; width: 100%; display: block;" src="../../../assets/6.jpg">
                    <div class="card-body">
                        <p class="card-text">Kolkata:Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit atque animi adipisci dignissimos delectus dolore sunt debitis reiciendis voluptatibus fuga.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>





<router-outlet></router-outlet>