<app-home-dashboard></app-home-dashboard>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Take-off embarked on its journey in the Indian travel industry in 2019, bringing affordable flight booking solutions for Indian business and leisure travellers. After witnessing rapid growth in the flight booking space, the company forayed into the hotel booking genre to add to the convenience of its customers and help them save more while travelling.  has become India’s leading online travel aggregator in an extremely short span.

Through its various platforms, Takeoff offers domestic and international flight tickets along with thousands of hotels across India. The strength of Takeoff lies in providing the best flight and hotel booking deals along with a hassle-free experience to its customers.
            </p>
            <div class="skills">
                <span>Big Discount!!</span>
                <span>Customer Support</span>
                <span>24*7 Call Service</span>
            </div>
        </div>
    </div>
</body>