<body>
    

    <div class="container mt-2">
        <div class="row">
            <div class="col-7 mb-3 booking-form">
                <input class="form-control" type="number" [(ngModel)]="flightId" placeholder="ENTER FLIGHT ID">
            </div>
        
            <div class="col-3">
                <button class="btn btn-primary flight"  (click)="onSearch()">SEARCH</button>
            </div>
            
        </div>
    </div>
    
    <div class="container mt-2" [hidden] = "viewTable">
        <table class=" table table-hover table-bordered">
            <thead>
                <tr>
                    <th>FLIGHT ID</th>
                    <th>FLIGHT NAME</th>
                    <th>SOURCE</th>
                    <th>DESTINATION</th>
                    <th>DEPARTURE DATE & TIME</th>
                    <th>ARRIVAL DATE & TIME</th>
                    <th>ECONOMY SEATS</th>
                    <th>BUSINESS SEATS</th>
                    <th>ECONOMY SEAT COST</th>
                    <th>BUSINESS SEAT COST</th> 
                  
                </tr>
            </thead>
            <tbody>
                <tr  >
                    <td>{{flight.flightId}}</td>
                    <td>{{flight.flightName}}</td>
                    <td>{{flight.source}}</td>
                    <td>{{flight.destination}}</td>
                    <td>{{flight.departureDate}} {{flight.departureTime}}</td>
                    <td>{{flight.arrivalDate}} {{flight.arrivalTime}}</td>
                    <td>{{flight.economicSeats}}</td>
                    <td>{{flight.businessSeats}}</td>
                    <td>{{flight.economyCost}}</td>
                    <td>{{flight.businessCost}}</td>
    
                    <td>
                       
                </tr>
            </tbody>
        </table>
    

    </div>
    </body>